<div class="cb-managers ">
    <div class="cb-managers__container">
        <div class="cb-managers-title">НАШИ МЕНЕДЖЕРЫ ВСЕГДА НА СВЯЗИ</div>
        <div class="cb-managers-block">
            <div class="cb-managers__item">
                <div class="cb-managers-photo">
                    <img src="../../img/worker01.jpg" class="cb-managers-photo-img" alt="worker03">
                </div>
                <div class="cb-managers-about">
                    <div class="cb-managers-name">Голицына Алевтина</div>
                    <div class="cb-managers-work">ваш персональный менеджер</div>
                </div>
                <div class="cb-managers-info">
                    <div class="cb-managers-number">8 988 670 20 74</div>
                    <div class="cb-managers-email">a.biryukova@tandoors.ru</div>
                </div>
                <div class="cb-managers-buttons">
                    <div class="buttons-calls">
                        <button class="cb-btn cb-btn-calls">позвонить</button>
                    </div>
                    <div class="buttons-write">
                        <button class="cb-btn cb-btn-calls">
                            <span class="cb-btn-text">написать</span>
                            <span class="cb-btn-svg">
                                <svg class="cb-call-svg">
                                    <use class="cb-call-svg-use" xlink:href="#cb-call">
                                    </use>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cb-managers__item">
                <div class="cb-managers-photo">
                    <img src="../../img/worker02.jpg" class="cb-managers-photo-img" alt="worker03">
                </div>
                <div class="cb-managers-about">
                    <div class="cb-managers-name">Мельник Владимир</div>
                    <div class="cb-managers-work">ваш персональный менеджер</div>
                </div>
                <div class="cb-managers-info">
                    <div class="cb-managers-number">8 988 670 20 74</div>
                    <div class="cb-managers-email">v.melnik@tandoors.ru </div>
                </div>
                <div class="cb-managers-buttons">
                    <div class="buttons-calls">
                        <button class="cb-btn cb-btn-calls">позвонить</button>
                    </div>
                    <div class="buttons-write">
                        <button class="cb-btn cb-btn-calls">
                            <span class="cb-btn-text">написать</span>
                            <span class="cb-btn-svg">
                                <svg class="cb-call-svg">
                                    <use class="cb-call-svg-use" xlink:href="#cb-call">
                                    </use>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cb-managers__item">
                <div class="cb-managers-photo">
                    <img src="../../img/worker03.jpg" class="cb-managers-photo-img" alt="worker03">
                </div>
                <div class="cb-managers-about">
                    <div class="cb-managers-name">Координаторы</div>
                    <!-- <div class="cb-managers-work">ваш персональный менеджер</div> -->
                </div>
                <div class="cb-managers-info">
                    <div class="cb-managers-number">8 988 670 20 74</div>
                    <div class="cb-managers-number">8 988 670 20 74</div>
                    <div class="cb-managers-number">8 988 670 20 74</div>
                    <!-- <div class="cb-managers-email">a.biryukova@tandoors.ru</div> -->
                </div>
                <div class="cb-managers-buttons">
                    <div class="buttons-calls">
                        <button class="cb-btn cb-btn-calls">позвонить</button>
                    </div>
                    <div class="buttons-write">
                        <button class="cb-btn cb-btn-calls">
                            <span class="cb-btn-text">написать</span>
                            <span class="cb-btn-svg">
                                <svg class="cb-call-svg">
                                    <use class="cb-call-svg-use" xlink:href="#cb-call">
                                    </use>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>