.cb-managers{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    &:not(:last-child){
        margin-bottom: 36px;
    }
    &__container{
        padding: 38px 47px 32px 46px;
    }
    &-title{
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 30px;
        text-align: center;
    }
    &-block{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 13px;
    }
    &__item{
        max-width: 220px;
        min-height: 384px;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
        &:hover{
           
            .cb-managers-buttons{
                opacity: 1;
                transition: all 0.3s ease-in-out;
            }
            .cb-managers-photo{
                transition: all 0.3s ease-in-out;
                border: 3px solid #9ACA3C;
                &-img{
                    filter: none;
                }
            }
           
        }
    }
    &-photo{
        max-width: 220px;
        height: 220px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid transparent;
        padding: 10px;
        cursor:pointer;
        &-img{
            width: 100%;
            height: 100%;
            background-position: center;
            object-fit: cover;
            /* border: 1px solid; */
            border-radius: 50%;
            filter: drop-shadow(5px 4px 6px rgba(0, 0, 0, 0.25));
        }
    }
    &-about{
        padding-top: 9px;
    }
    &-name{
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
    }
    &-work{
        font-style: normal;
        font-weight: 800;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: #8C8C8C;
        padding-top: 6px;
    }
    &-info{
        padding-top: 26px;
    }
    &-number{
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }
    &-email{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }
    &-buttons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 18px;
        padding-top: 10px;
        opacity: 0;
    }
    &-calls{}
}


.container-style{

}

.buttons{

    &-calls{
        .cb-btn{
           
        }
        .cb-btn-calls{}
    }
    &-write{
        .cb-btn{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .cb-btn-calls{}
        .cb-btn-text{
            margin-right: 5px;
        }
        .cb-btn-svg{
            width: 21px;
            height: 21px;
            display: block;
            .cb-call-svg{
                width: 100%;
                 height: 100%;
            }
        }
    }
}

.cb-btn{
    border: 0;
    background: #9ACA3C;
    border-radius: 6px;
    color: #fff;
    min-height: 28px;
    max-width: 101px;
    width: 100%;
    //    
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }
}