.gui-page {
  width: 100%;
  min-height: 100vh;
  padding: 50px 100px;
  background-color: #c0c0c0;
  box-sizing: border-box;

  &__title {
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__container-elements {
    margin: 0 -15px 30px -15px;
  }

  &__section-title {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__block-theme {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
  }

  &__block-element {
    padding: 0 15px 20px 15px;
  }

  &__text-card-content {
    width: 195px;
    max-width: 195px;
  }
}
