.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  user-select: none;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  cursor: pointer;
  color: inherit;
  text-align: center;
  text-decoration-line: none;
  background-color: transparent;
  transition: color 0.1s ease-in, background-color 0.1s ease-in,
    box-shadow 0.2s ease-in;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration-line: none;
  }

  &__icon {
    margin-left: -4px;

    & + .button__text {
      margin-left: 7px;
    }
  }

  &__text {
    text-overflow: ellipsis;
    transition: color 0.1s ease-in;

    & + .button__icon {
      margin-left: 20px;
    }
  }
}

.Button--color-lightGreen {
  $colorAccent: #43aa8b;
  $colorAccentHover: #fff;

  &:not(:disabled) {
    border-color: $colorAccent;
    color: $colorAccent;

    &:hover,
    &:focus {
      background-color: $colorAccent;
      color: $colorAccentHover;
      outline: none;
    }

    &:hover .Button__text {
      color: $colorAccentHover;
    }

    &:focus .Button__text {
      color: $colorAccentHover;
    }

    &:active {
    }

    .Button__text {
      color: $colorAccent;
    }

    .Button__icon {
    }
  }

  &:disabled {
    cursor: initial;
    background-color: #f7f6fa;
    border-color: #e5e5e5;

    .Button__text {
      color: #888;
    }
  }
}

.Button--color-hardGreen {
  $colorAccent: #fff;
  $colorAccentHover: #43aa8b;

  &:not(:disabled) {
    border-color: $colorAccentHover;
    background-color: $colorAccentHover;
    color: $colorAccent;
    transition: $transition;

    &:hover,
    &:focus {
      background: none;
      color: $colorAccentHover;
      outline: none;
    }

    &:hover .Button__text {
      color: $colorAccentHover;
    }

    &:focus .Button__text {
      color: $colorAccentHover;
    }

    &:active {
    }

    .Button__text {
      color: $colorAccent;
    }

    .Button__icon {
    }
  }

  &:disabled {
    cursor: initial;
    background-color: #f7f6fa;
    border-color: #e5e5e5;

    .Button__text {
      color: #888;
    }
  }
}

.Button--color-lightRed {
  $colorAccent: red;
  $colorAccentHover: #fff;

  &:not(:disabled) {
    border-color: $colorAccent;
    color: $colorAccent;

    &:hover,
    &:focus {
      background-color: $colorAccent;
      color: $colorAccentHover;
      outline: none;
    }

    &:hover .Button__text {
      color: $colorAccentHover;
    }

    &:focus .Button__text {
      color: $colorAccentHover;
    }

    &:active {
    }

    .Button__text {
      color: $colorAccent;
    }

    .Button__icon {
    }
  }

  &:disabled {
    cursor: initial;
    background-color: #f7f6fa;
    border-color: #e5e5e5;

    .Button__text {
      color: #888;
    }
  }
}

.Button--color-hardRed {
  $colorAccent: #fff;
  $colorAccentHover: red;

  &:not(:disabled) {
    border-color: $colorAccentHover;
    background-color: $colorAccentHover;
    color: $colorAccent;
    transition: $transition;

    &:hover,
    &:focus {
      background: none;
      color: $colorAccentHover;
      outline: none;
    }

    &:hover .Button__text {
      color: $colorAccentHover;
    }

    &:focus .Button__text {
      color: $colorAccentHover;
    }

    &:active {
    }

    .Button__text {
      color: $colorAccent;
    }

    .Button__icon {
    }
  }

  &:disabled {
    cursor: initial;
    background-color: #f7f6fa;
    border-color: #e5e5e5;

    .Button__text {
      color: #888;
    }
  }
}

// Themes

.Button--theme-sm {
  border: 1px solid;
  min-width: 63px;
  min-height: 26px;
  padding: 5px 10px;
  border-radius: 15px;

  .Button__text {
    font-size: 9.69px;
    font-weight: 600;
  }

  .Button__icon {
  }
}

.Button--theme-md {
  border: 1px solid;
  min-width: 126px;
  min-height: 41px;
  padding: 5px 10px;
  border-radius: 15px;

  .Button__text {
    @include adaptiv-font(12, 7);
    font-weight: 600;
  }

  .Button__icon {
  }
}

.Button--theme-lg {
  border: 1px solid;
  max-width: 208px;
  min-width: 165px;
  min-height: 50px;
  padding: 5px 10px;
  border-radius: 15px;

  .Button__text {
    @include adaptiv-font(16, 10);
    font-weight: 600;
  }

  .Button__icon {
  }
}

.Button--full-w {
  min-width: 100% !important;
  width: 100% !important;
  max-width: 100% !important;
}
