.input-validation {
  &--invalid {
    border-color: red !important;
    color: red !important;

    &::placeholder {
      color: red !important;
    }

    & + .checkbox__label::before,
    & + .radio__label::before {
      border-color: red !important;
    }

    & + .Privacy-policy__label::before,
    & + .radio__label::before {
      border-color: red !important;
    }
  }

  &--valid {
  }

  &__message {
    position: absolute;
    transform: translateY(100%);
    bottom: -2px;
    left: 0;
    @include adaptiv-font(12, 10);
  }

  &__message-mod {
    position: absolute;
    top: calc(100% + 2px);
    right: 0;
  }
}
