<div class="cb-feedback cb-managers ">
    <div class="cb-managers__container">
        <div class="cb-feedback-block">
            <div class="cb-feedback-photo">
                <img src="../../img/worker01.jpg" alt="">
            </div>
            <div class="cb-feedback-info">
                <div class="cb-feedback-title">
                    НЕ УДАЛОСЬ ДОЗВОНИТЬСЯ
                </div>
                <div class="cb-feedback-hover">
                    <div class="cb-animation">
                        <span></span>
                        <span></span>
                        <!-- <span></span> -->
                    </div>
                    <div class="cb-feedback-derect">
                        <div class="cb-feedback-who">Директор</div>
                        <div class="cb-feedback-number">
                            8 918 438 66 55
                        </div>
                        <div class="cb-managers-buttons">
                            <div class="buttons-calls">
                                <button class="cb-btn cb-btn-calls">позвонить</button>
                            </div>
                            <div class="buttons-write">
                                <button class="cb-btn cb-btn-calls">
                                    <span class="cb-btn-text">написать</span>
                                    <span class="cb-btn-svg">
                                        <svg class="cb-call-svg">
                                            <use class="cb-call-svg-use" xlink:href="#cb-call">
                                            </use>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>