.cb-feedback{
    &-block{
        display: flex;
        max-width: 531px;
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
    }
    &-photo{
        width: 150px;
        height: 150px;
        display: flex;
        border-radius: 50%;
        overflow: hidden;
        filter: drop-shadow(5px 4px 6px rgba(0, 0, 0, 0.25));
        & img{
            width: 100%;
            height: 100%;
            background-position: center;
            object-fit: cover;
        }
    }
    &-info{
        display: grid;
        align-items: center;
        text-align: center;
        margin-left: 15px;
    }
    &-title{        
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 30px;
        color: #000000;
    }
    &-hover{
        position: relative;
        cursor:pointer;
        .cb-managers-buttons{
            max-width: 220px;
            margin: 0 auto;
            opacity: 1;
        }
        
        &:hover{
            .cb-animation{
                display: none;
            }
            .cb-feedback-derect{
                opacity: 1;
            }
        }
    }
    &-derect{
        opacity: 0;
    }
    &-who{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #000000;
    }
    &-number{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 30px;
        color: #000000;
    }
    
}

.cb-animation{
    display: block;
    width: 100px;
    height: 53px;
    position: relative;  
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);   
    justify-content: center;
    display: flex; 
    & span{
        &:nth-child(1){
            width: 24px;
            height: 24px;
            border-left: 7px solid #00e0cb;
            border-bottom: 7px solid #00e0cb;
            transform: rotate(-45deg) scale(1);
           
            display: block;
            /* animation */
            position: absolute;
            animation-name: drop-first;
            animation-duration: 2s;           
            animation-iteration-count: infinite;
          
        }
        &:nth-child(2){
            width: 24px;
            height: 24px;
            border-left: 7px solid #88f46d;
            border-bottom: 7px solid #88f46d;
            transform: rotate(-45deg);          
            display: block;
            /* animation */
            position: absolute;
            animation-name: drop-second;
            animation-duration: 2s;
            animation-delay: 0.7s;
            animation-iteration-count: infinite;
        }       
    }
}

@keyframes drop-first{
    0% {
        transform: rotate(-45deg)  scale(1);
        top:0%;
    }   
    50% {
        
        transform: rotate(-45deg) scale(1);
        top: 50%;
    }
    90% {
        
        transform: rotate(-45deg) scale(0);
        top: 100%;
    }
    100% {
        
        transform: rotate(-45deg) scale(0);
        top: 0%;
    }
}

@keyframes drop-second{
    0% {
        transform: rotate(-45deg) scale(1);
        top: 0%;
        
    }    
    50% {
        transform: rotate(-45deg) scale(1);
        top: 50%;
        
    }  
    
    100% {
        top: 100%;
        transform: rotate(-45deg) scale(0);
    }
}


