.cb-socials{
    &-block{
        padding-top: 33px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    }
    &-item{
        min-height: 104px;           
        position: relative;
        text-align: center;  
        margin-bottom: 20px;    
    }
    &-modal{
        opacity: 0;    
        visibility: hidden;    
        position: absolute;
        right: -9px;
        top: -18px;
        z-index: 12;   
        transition: all 0.3s ease-in-out;    
        filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25)) drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.12));
        &-header{
            height: 100%;
            width: 124px;
            display: block;
            position: relative;
            border-radius: 8px;
            text-align: center;
            padding: 10px 10px 10% 10px;
            background:#fff;
            overflow: hidden;
            clip-path: polygon(0 1%, 100% 0, 100% 85%, 88% 100%, 0 100%, 0% 50%);
        }
        &-bottom{
           content: '';
           position: absolute;
           bottom: 0;
           right: 0;
           width: 12%;
           height: 15%;
           background:$cb-gray;

        }
        &-text{           
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            color: #3C3C3C;
        }
    }
    &-social{
        width: 69px;
        height: 69px;
        border: 2px solid #9ACA3C;
        border-radius: 50%;
        /* padding: 15px; */
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 0 auto;
        cursor: pointer;
        &:hover{
            & ~ .cb-socials-modal{
                // display: block;
                opacity: 1;
                visibility: visible;           
            }
        }
    }
    &-text{
        padding-top: 21px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #000000;
    }
    &-svg{
       & svg{
        fill:#9ACA3C;
        width: 100%;
        height: 100%;
       }
    }
}

.wd-tg{
    width: 34.5px;
    height: 30px;
}
.wd-vk{
    width: 36px;
    height: 21px;
}
.wd-inst{
    width: 30px;
    height: 30px;
}
.wd-yu{
    width: 30.5px;
    height: 22.5px;
}

.cb-tg{
    &:hover{       
        border: 0;
        border-color:#9ACA3C;
        background:#2F89CE;       
    }
}
.cb-vk{
    &:hover{       
        border: 0;
        border-color:#9ACA3C;
        background:#7294C7;       
    }
}
.cb-inst{
    &:hover{       
        border: 0;      
        border-color:#9ACA3C;
        background: linear-gradient(43.94deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);
    }
}
.cb-youtube{
    &:hover{    
        border:0;
        border-color:#9ACA3C;
        background:#F40000;       
    }
}
.cb-tg, .cb-vk,.cb-inst,.cb-youtube{
    transition: all 0.4s ease-in-out;
    &:hover{
        transform: scale(1.3);
        .cb-socials-svg__svg{
            fill:white;
        }        
        
    }
}
