<div class="cb-socials cb-managers ">
    <div class="cb-managers__container">
        <div class="cb-managers-title">НАШИ ИНФОРМАЦИОННЫЕ ПОРТАЛЫ</div>
        <div class="cb-socials-block cb-managers-block">
            <div class="cb-socials-item">
                <div class="cb-socials-social cb-tg">
                    <span class="cb-btn-svg cb-socials-svg wd-tg">
                        <svg class="cb-call-svg cb-socials-svg__svg">
                            <use class="cb-social-svg-use" xlink:href="#cb-telegram">
                            </use>
                        </svg>
                    </span>
                </div>
                <div class="cb-socials-modal">
                    <div class="cb-socials-modal-header">
                        <span class="cb-socials-modal-text">
                            В данном канале
                            вы с легкостью
                            найдете “живые”
                            фотографии
                            всех наших дверей
                        </span>
                        <div class="cb-socials-modal-bottom">
                        </div>
                    </div>
                </div>
                <div class="cb-socials-text">
                    ФОТО БОТ
                </div>
            </div>
            <div class="cb-socials-item">
                <div class="cb-socials-social cb-tg">
                    <span class="cb-btn-svg cb-socials-svg wd-tg">
                        <svg class="cb-call-svg cb-socials-svg__svg">
                            <use class="cb-social-svg-use" xlink:href="#cb-telegram">
                            </use>
                        </svg>
                    </span>
                </div>
                <div class="cb-socials-modal">
                    <div class="cb-socials-modal-header">
                        <span class="cb-socials-modal-text">
                            В данном канале
                            вы с легкостью
                            найдете “живые”
                            фотографии
                            всех наших дверей
                        </span>
                        <div class="cb-socials-modal-bottom">
                        </div>
                    </div>
                </div>
                <div class="cb-socials-text">
                    НОВОСТИ / ОПРОСЫ
                </div>
            </div>
            <div class="cb-socials-item">
                <div class="cb-socials-social cb-vk">
                    <span class="cb-btn-svg cb-socials-svg wd-vk">
                        <svg class="cb-call-svg cb-socials-svg__svg">
                            <use class="cb-social-svg-use" xlink:href="#cb-vk">
                            </use>
                        </svg>
                    </span>
                </div>
                <div class="cb-socials-modal">
                    <div class="cb-socials-modal-header">
                        <span class="cb-socials-modal-text">
                            Будьте с нами в вконтакте
                        </span>
                        <div class="cb-socials-modal-bottom">
                        </div>
                    </div>
                </div>
                <div class="cb-socials-text">
                    ГРУППА В ВКОНТАКТЕ
                </div>
            </div>
            <div class="cb-socials-item">
                <div class="cb-socials-social cb-inst">
                    <span class="cb-btn-svg cb-socials-svg wd-tg">
                        <svg class="cb-call-svg cb-socials-svg__svg">
                            <use class="cb-social-svg-use" xlink:href="#cb-instagramm">
                            </use>
                        </svg>
                    </span>
                </div>
                <div class="cb-socials-modal">
                    <div class="cb-socials-modal-header">
                        <span class="cb-socials-modal-text">
                            Переходите в наш
                            официальный instagram
                        </span>
                        <div class="cb-socials-modal-bottom">
                        </div>
                    </div>
                </div>
                <div class="cb-socials-text">
                    ЛУЧШЕЕ ФОТО
                </div>
            </div>
            <div class="cb-socials-item">
                <div class="cb-socials-social cb-youtube">
                    <span class="cb-btn-svg cb-socials-svg wd-yu">
                        <svg class="cb-call-svg cb-socials-svg__svg">
                            <use class="cb-social-svg-use" xlink:href="#cb-youtube">
                            </use>
                        </svg>
                    </span>
                </div>
                <div class="cb-socials-modal">
                    <div class="cb-socials-modal-header">
                        <span class="cb-socials-modal-text">
                            Смотрите видеообзоры
                            наших дверей
                        </span>
                        <div class="cb-socials-modal-bottom">
                        </div>
                    </div>
                </div>
                <div class="cb-socials-text">
                    ВИДЕООБЗОР
                </div>
            </div>
        </div>
    </div>
</div>