@font-face {
    src:
      url("../fonts/Exo2/Exo2-Bold.woff2") format("woff2"),
      url("../fonts/Exo2/Exo2-Bold.ttf") format("ttf"),
      url("../fonts/Exo2/Exo2-Bold.woff") format("woff");
    font-family: "Exo2";
    font-weight: 700;
    font-style: bold;
  }
  
  @font-face {
    src:
      url("../fonts/Exo2/Exo2-Medium.woff2") format("woff2"),
      url("../fonts/Exo2/Exo2-Medium.ttf") format("ttf"),
      url("../fonts/Exo2/Exo2-Medium.woff") format("woff");
    font-family: "Exo2";
    font-weight: 500;
    font-style: medium;
  }
  
  @font-face {
    src:
      url("../fonts/Exo2/Exo2-ExtraBold.woff2") format("woff2"),
      url("../fonts/Exo2/Exo2-ExtraBold.ttf") format("ttf"),
      url("../fonts/Exo2/Exo2-ExtraBold.woff") format("woff");
    font-family: "Exo2";
    font-weight: 800;
    font-style: extrabold;
  }
  
  @font-face {
    src:
      url("../fonts/Exo2/Exo2-Light.woff2") format("woff2"),
      url("../fonts/Exo2/Exo2-Light.ttf") format("ttf"),
      url("../fonts/Exo2/Exo2-Light.woff") format("woff");
    font-family: "Exo2";
    font-weight: 300;
    font-style: light;
  }
  
  @font-face {
    src:
      url("../fonts/Exo2/Exo2-Regular.woff2") format("woff2"),
      url("../fonts/Exo2/Exo2-Regular.ttf") format("ttf"),
      url("../fonts/Exo2/Exo2-Regular.woff") format("woff");
    font-family: "Exo2";
    font-weight: 300;
    font-style: regular;
  }
  
  @font-face {
    src:
      url("../resources/fonts/Exo2/Exo2-SemiBold.woff2") format("woff2"),
      url("../resources/fonts/Exo2/Exo2-SemiBold.ttf") format("ttf"),
      url("../resources/fonts/Exo2/Exo2-SemiBold.woff") format("woff");
    font-family: "Exo2";
    font-weight: 600;
    font-style: semibold;
  }
//   roboto
  @font-face {
    src:
      url("../resources/fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
      url("../resources/fonts/Roboto/Roboto-Regular.ttf") format("ttf"),
      url("../resources/fonts/Roboto/Roboto-Regular.woff") format("woff");
    font-family: "Roboto";
    font-weight: 400;
    font-style: regular;
  }
  @font-face {
    src:
      url("../resources/fonts/Roboto/Roboto-Medium.woff2") format("woff2"),
      url("../resources/fonts/Roboto/Roboto-Medium.ttf") format("ttf"),
      url("../resources/fonts/Roboto/Roboto-Medium.woff") format("woff");
    font-family: "Roboto";
    font-weight: 500;
    font-style: medium;
  }
  @font-face {
    src:
      url("../resources/fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
      url("../resources/fonts/Roboto/Roboto-Bold.ttf") format("ttf"),
      url("../resources/fonts/Roboto/Roboto-Bold.woff") format("woff");
    font-family: "Roboto";
    font-weight: 700;
    font-style: bold;
  }
  @font-face {
    src:
      url("../resources/fonts/Roboto/Roboto-Black.woff2") format("woff2"),
      url("../resources/fonts/Roboto/Roboto-Black.ttf") format("ttf"),
      url("../resources/fonts/Roboto/Roboto-Black.woff") format("woff");
    font-family: "Roboto";
    font-weight: 900;
    font-style: black;
  }
  /* /roboto */
  @font-face {
    src:
      url("../fonts/PFBeauSansPro/PFBeauSansPro-Regular.woff2") format("woff2"),
      url("../fonts/PFBeauSansPro/PFBeauSansPro-Regular.ttf") format("ttf"),
      url("../fonts/PFBeauSansPro/PFBeauSansPro-Regular.woff") format("woff");
    font-family: "PFBeauSansPro";
    font-weight: 400;
    font-style: regular;
  }
  
  @font-face {
    src:
      url("../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.woff2") format("woff2"),
      url("../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.ttf") format("ttf"),
      url("../fonts/PFBeauSansPro/PFBeauSansPro-SemiBold.woff") format("woff");
    font-family: "PFBeauSansPro";
    font-weight: 400;
    font-style: semibold;
  }