@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 700px) {
    .cb-managers-block{
        grid-template-columns: 1fr;
    }
    .cb-socials-block{
        grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
    }
}
@media screen and (max-width: 600px) {
    .cb-feedback-block{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .cb-feedback-info{
        padding-top: 20px;
    }
    .cb-socials-modal{
        display: none;
    }
}
@media screen and (max-width: 576px) {
}

@media screen and (max-width: 420px) {

}
