@import '_fonts';
@import '_settings';
@import '_vars';
@import '_mixins';

// * {
//   color: $colorBlack;
//   box-sizing: border-box;
//   font-family: $font-family-nameFont;
// }
* {
  box-sizing: border-box;
  outline: none;
  ::selection {
    background: #acff05bb;
  }
}

a {
  color: $gray;

  &:hover {
    color: $lime;
  }
}

html,
body {
  width: 100%;
  font-family: $font-family-robota;
  font-weight: 400;
  font-size: 16px;
	line-height: 1.18;
  color: $black-default;
  overflow-x: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.max-width{
  // max-width: 1057px;
  // width: 100%;
  // margin: 0 auto;
  // padding: 100px;
}

.container-section {
  margin-left: auto;
  margin-right: auto;
}

.max-width {
  // max-width: 1094px; // Ограничивающий контейнер + 15px отступов по краям

  @media screen and (max-width: 1109px) {
    // max-width: 970px;
  }

  @media screen and (max-width: 991px) {
    max-width: none;
    padding: 0 15px;
  }
}

// Для страниц

.page {
}

.sprite-svg {
  display: none;
}

.hidden {
  display: none;
}

// Gui

@import 'gui-elements/buttons.scss';
@import 'gui-elements/input-validation.scss';
@import 'gui-elements/privacy-policy.scss';


// !Scroll decor

::-webkit-scrollbar {
	width: 10px; /* ширина для вертикального скролла */
	height: 10px; /* высота для горизонтального скролла */
	background-color: transparent;
	
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
	background-color: $gray;
	border-radius: 9em;
	box-shadow: inset 1px 1px 6px #f3faf7;

}

::-webkit-scrollbar-thumb:hover {
	background-color: $lime;
	cursor: pointer;
	
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
	background: transparent;
	background-color: transparent;
	display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
	background: transparent;
	background-color: transparent;
	display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
	background: transparent;
	background-color: transparent;
	display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
	background: transparent;
	background-color: transparent;
	display: none;
}

// Изменения скролла для FireFox
* {
	scrollbar-color: $gray transparent; /* «цвет ползунка» «цвет полосы скроллбара» */
	scrollbar-width: thin; /* толщина */
}
